<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Info</title>
</head>
<body>
<form action="/client/save" method="post">
    <input placeholder="name" type="text" name="name"><br/>
    <input placeholder="email" type="text" name="email"><br/>
    <input placeholder="tax number" type="text" name="taxNumber"><br/>
    <input placeholder="location" type="text" name="location"><br/>
    <input placeholder="user id" type="text" name="userId"><br/>
    <button>SEND</button>
</form>
</body>
</html>